# Repository Information
MEDUSA_REPO=https://github.com/medusajs/medusa-starter-default.git
STOREFRONT_REPO=https://github.com/medusajs/nextjs-starter-medusa.git

# Database Configuration
DATABASE_TYPE=postgres
DATABASE_URL=postgres://postgres:postgres@postgres:5432/medusa-docker
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=medusa-docker
PG_MEDUSA_DB_NAME="medusa"

# Redis Configuration
REDIS_URL=redis://redis:6379

# Medusa Configuration
MEDUSA_ADMIN_ONBOARDING_TYPE=default
STORE_CORS="https://your.store.domain.com" # most likely http://localhost:8000 for local dev
ADMIN_CORS=http://localhost:7000  ## ?? Probably not correct
JWT_SECRET=something
COOKIE_SECRET=something
NODE_ENV=development

# Medusa Backend URL (used by storefront)
NEXT_PUBLIC_MEDUSA_BACKEND_URL=http://localhost:9000

# Google Cloud
GCS_SA_PRIVATE_KEY="-----BEGIN PRIVATE....."
GCS_CLIENT_EMAIL="service_account_name@your_project_id.iam.gserviceaccount.com"
GCS_PUBLIC_BUCKET_NAME="bucket_name_here"

# Stripe Configuration
STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_SECRET_KEY="sk_something"

# SendGrid
SENDGRID_API_KEY="SG.something"
SENDGRID_FROM="orders@example.com"
SENDGRID_ORDER_PLACED_ID="order_placed_template_id" # ID found in the SendGrid console https://mc.sendgrid.com/dynamic-templates

# Minio/S3 Configuration
# Minio and Minio MC 
MINIO_BUCKET=medusa-server
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD="8cfa713251042a0870f2a0a89ce01f4e" 
S3_FILE_URL=http://minio:9100/medusa-server
S3_ACCESS_KEY_ID=f56567ce8798713d53b86a6692bc1c7a266385ca69c5fd75d7de94d5db78e1d9
S3_SECRET_ACCESS_KEY=90122508e830746fda7fc5704814b4dea69b2a64ac718c9d22486b90d2e6c521
S3_REGION=us
S3_BUCKET=medusa-server
S3_ENDPOINT=http://minio:9100 

# Admin User (used by create_api bootstrap process)
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=supersecret
